<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<title>ConnectX</title>
	<link rel="icon" href="#">
</head>

<body>

	<!-- Navbar -->
	<nav class="navbar navbar-light">
		<a class="navbar-brand" href="/">
			<ion-icon name="logo-instagram" size="large" class="d-inline-block align-bottom"></ion-icon>
			<strong>ConnectX</strong>
		</a>
		<strong><a href="{{ url_for('show_login') }}"> login </a></strong>
	</nav>
	<hr>
	<br>
	<div class="container">
	    <!-- DO NOT CHANGE THIS (aside from styling) -->
		<form action="" method="post" enctype="multipart/form-data">
			<input type="text" name="username" placeholder="username" class="form-control"/> <br>
			<input type="password" name="password" placeholder="password" class="form-control"/> <br>
			<input type="submit" value="login" class="btn btn-primary"/>
		</form>

	    <p>
	    	Don't have an account? <a href="{{ url_for('create') }}"><strong>Sign up</strong></a>
	    </p>
	</div>


    <script src="https://unpkg.com/ionicons@4.5.0/dist/ionicons.js"></script>

</body>