<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
	<title>ConnectX</title>
	<link rel="icon" href="#">
</head>

<body>
	<!-- Navbar -->
	<nav class="navbar navbar-light">
		<a class="navbar-brand" href="/">
			<ion-icon name="logo-instagram" size="large" class="d-inline-block align-bottom"></ion-icon>
			<strong>ConnectX</strong>
		</a>
		<strong><a href="{{ url_for('explore') }}">explore</a> | <a href="{{ url_for('show_user', username=logname) }}">{{ logname }}</a></strong>
	</nav>
	<hr>
	<br>

	<div class="container">
		<!-- DO NOT CHANGE THIS -->
		<form action="" method="post" enctype="multipart/form-data">
			Old password <input type="password" name="password"/> <br>
			New password <input type="password" name="new_password1"/> <br>
			New password, again <input type="password" name="new_password2"/> <br>
			<input type="submit" name="update_password" value="submit"/>
		</form>
	    <p><a href="{{ url_for('edit') }}"><strong>Back to edit account</strong></a></p>		
	</div>

    <script src="https://unpkg.com/ionicons@4.5.0/dist/ionicons.js"></script>
</body>